@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tracker-after-offset: 0;
}

body {
  background-color: #F49C76;
}

.cities-container::-webkit-scrollbar {
  width: 25px;
  background: transparent;
  transition: all .3s ease;
}

.cities-container::-webkit-scrollbar-thumb {
  border: 10px solid transparent;
  box-shadow: none;
  border-radius: 40px;
  box-shadow: inset 0 0 0 10px #F49C76;
}

.cities-container:hover::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  box-shadow: inset 0 0 0 10px #F49C76;
}

.cities-container::-webkit-scrollbar-track {
  background: transparent;
  margin: 40px 0;
  border-radius: 40px;
}

.hover-area {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  /* trash-home-city + time + trackwidth*2 */
  left: calc(18rem + 9rem + 4.0625rem);
}

.tracker {
  border: 3px solid #ff4d00;
  background-color: #F49C76;
  opacity: .4;
  left: calc(18rem + 9rem + 4.0625rem);
}